<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

</head>

<body>




	<div class="transform hover:scale-105 transition-transform duration-300 bg-white rounded-md group relative"
		 data-cena="500" data-destinacija="Destinacija" data-prevoz="Prevozno sredstvo" data-kategorija="Kategorija">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
			  integrity="sha384-ez3j1I5qgGr4t3u8z2LrKpLjVlg4J00so9nDH2j47ZlYUA0kqD0Z9RQOnL4sLUfc" crossorigin="anonymous">

		<a href="/putovanja/detalji/1">

			<div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
				<img th:src="@{/img/{imageName}(imageName=${estate.imagePath})}" alt="" class="card__img">
			</div>


			<div class="px-4 pb-5 mt-4 flex justify-between">
				<div class="flex flex-row">

					<div class="pr-5">
						<span aria-hidden="true" class="absolute inset-0"></span>
						<p>Name:</p>
						<p class="text-md" th:text="${estate.name}"></p>
					</div>
					<div class="pr-5">
						<p>Price:</p>
						<p class="text-md" data-property="cena" th:text="${estate.price}"></p>
					</div>

					<div class="pr-5">
						<p>Area:</p>
						<p class="text-md" th:text="${estate.area}"></p>
					</div>
					<div class="pr-5">
						<p>Location:</p>
						<p class="text-md" th:text="${estate.location.city}"></p>
					</div>
				</div>
			</div>
		</a>
		<form action="putovanja/addToWishLIst" method="post">
			<input type="hidden" name="putovanjeId" id="putovanjeId" value="1">
			<button type="submit" class="text-red-300 hover:text-red-500 focus:outline-none transform">
				<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					 viewBox="0 0 24 24" class="w-6 h-6">
					<path
							d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C14.09 3.81 15.76 3 17.5 3 20.58 3 23 5.42 23 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z">
					</path>
				</svg>
			</button>
		</form>
	</div>

</body>

</html>