<!DOCTYPE html>
<html>

<head>
    <!-- Add link to load Tailwind CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<header class="bg-gray-900">
    <nav class="mx-auto flex max-w-8xl items-center justify-between p-4 lg:px-6" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/RealEstate" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="">
            </a>
        </div>

        <div class=" lg:flex lg:gap-x-8">

            <a href="/agency/add" class="text-sm font-semibold leading-6 text-white">Add agency</a>
            <a href="/RealEstate/users" class="text-sm font-semibold leading-6 text-white">Add agent</a>
            <a href="/RealEstate/estates/add" class="text-sm font-semibold leading-6 text-white">Add estate</a>
            <a href="/destinacije" class="text-sm font-semibold leading-6 text-white">Add owner</a>
            <a href="/izvestaj" class="text-sm font-semibold leading-6 text-white">Report</a>
            <a href="/RealEstate/register" class="text-sm font-semibold leading-6 text-white">Register</a>
            <a href="/TravelOrganisation/profil" class="text-sm font-semibold leading-6 text-white"></a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end mr-5">
            <a href="/RealEstate/login" class="text-sm font-semibold leading-6 text-white">Login</a>
            <a href="/RealEstate/logout" class="text-sm font-semibold leading-6 text-white">Logout</a>
        </div>
    </nav>
</header>

</html>
