<!DOCTYPE html>
<html>

<head>
    <!-- Add link to load Tailwind CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<header class="bg-gray-900">
    <nav class="mx-auto flex max-w-8xl items-center justify-between p-4 lg:px-6" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/RealEstate" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="">
            </a>
        </div>

        <div class=" lg:flex lg:gap-x-8">

            <a  th:if="${session.logedUser != null && session.logedUser.role.name == 'ADMIN'}" href="/RealEstate/users/view" class="text-sm font-semibold leading-6 text-white">Persons</a>
            <a  th:if="${session.logedUser != null && session.logedUser.role.name == 'ADMIN'}" href="/RealEstate/agencies/view" class="text-sm font-semibold leading-6 text-white">Agency</a>
            <a th:if="${session.logedUser != null && session.logedUser.role.name == 'AGENCY_OWNER'}" href="/RealEstate/agencies/add" class="text-sm font-semibold leading-6 text-white">Add agency</a>
            <a  th:if="${session.logedUser != null && session.logedUser.role.name == 'ADMIN'}" href="/RealEstate/users" class="text-sm font-semibold leading-6 text-white">Add agent</a>
            <a  th:if="${session.logedUser != null && session.logedUser.role.name == 'AGENT'}" href="/RealEstate/location/add" class="text-sm font-semibold leading-6 text-white">Add location</a>
            <a th:if="${session.logedUser != null && session.logedUser.role.name == 'ADMIN'}" href="/RealEstate/location/view" class="text-sm font-semibold leading-6 text-white">Locations</a>
            <a th:if="${session.logedUser != null && session.logedUser.role.name == 'ADMIN'}" href="/RealEstate/users/addOwner" class="text-sm font-semibold leading-6 text-white">Add owner</a>
            <a th:if="${session.logedUser != null && session.logedUser.role.name == 'AGENT'}" href="/izvestaj" class="text-sm font-semibold leading-6 text-white">Report</a>
            <a href="/RealEstate/register" class="text-sm font-semibold leading-6 text-white">Register</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end mr-5">
            <div class="hidden lg:flex lg:flex-1 lg:justify-end mr-5">
                <a th:if="${session.logedUser != null}" href="/RealEstate/logout" class="text-sm font-semibold leading-6 text-white">Logout</a>
                <a th:if="${session.logedUser == null}" href="/RealEstate/login" class="text-sm font-semibold leading-6 text-white">Login</a>
            </div>
        </div>

    </nav>
</header>

</html>
